<?xml version="1.0"?>
<config>
    <modules>
        <LS_Home>
            <version>0.0.0.1</version>
        </LS_Home>
    </modules>
    <global>
        <helpers>
            <ls_home>
                <class>LS_Home_Helper</class>
            </ls_home>
        </helpers>
        <resources>
            <ls_home_setup>
                <setup>
                    <module>LS_Home</module>
                </setup>
            </ls_home_setup>
        </resources>
        <blocks>
            <ls_home>
                <class>LS_Home_Block</class>
            </ls_home>
        </blocks>
    </global>
    <frontend>
        <routers>
            <ls_home>
                <use>standard</use>
                <args>
                    <module>LS_Home</module>
                    <frontName>ls_home</frontName>
                </args>
            </ls_home>
        </routers>
        <translate>
            <modules>
                <LS_Home>
                    <files>
                        <default>LS_Home.csv</default>
                    </files>
                </LS_Home>
            </modules>
        </translate>
        <layout>
            <updates>
                <ls_home>
                    <file>ls/home.xml</file>
                </ls_home>
            </updates>
        </layout>
    </frontend>
</config>
